div {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  font-family : "Times New Roman";
  margin: auto;
  width: 50%;
  border: 3px solid rgb(255, 255, 255);
  padding: 10px;
}

h2 {
  color: rgb(0, 0, 0);
  font-family : "Times New Roman";
  text-align: center;
}

ul {
  list-style-type: none;
  font-family : "Times New Roman";
  list-style-position: inside;
  padding-left: 0;
  text-align: center;
}

a {
  color: rgb(19, 118, 248);
}

img {
  display: block;
  height: auto;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}